body {
	height: 100vh;
	/* display: flex;
	align-items: center; */
	background-color: rgb(61, 233, 104);
}

h1 {
	width: 100%;
	text-align: center;
}

p {
	width: 100%;
	text-align: center;
}

.test-class {
	color: gray;
}